
<section class="featured-blog mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-4 shadow-lg" *ngFor="let blog of blog | slice:0:3; let i=index">
        <div class="blog-box">
          <!-- <img src="assets/images/slider{{i+1}}.jpg" alt="blog1" /> -->
          <img src="{{blog.image}}" alt="{{blog.title}}" />
          <h3>{{blog.title}}</h3>
         <!--  <p>{{blog.category | uppercase}}</p> -->
          <p>Publish on: <span>{{blog.created_at | date:'mediumDate'}}</span></p>
          <p>{{blog.description | slice:0:80}}.... </p>
          <a [routerLink]="['/blog',blog.id]" class="btn btn-danger">Read more...</a>
        </div>
      </div>
     
    </div>
  </div>
</section>
