
<section class="blog-list mtb-40">
  <div class="container">
    <h1>{{title}}</h1>
    <div class="row">
      <div class="col-md-4" *ngFor="let blog of blogs">
        <div class="blog-box">
          <img src="{{blog.image}}" alt="blog1" />
          <h3>{{blog.title}}</h3>
          <p>{{blog.category}}</p>
          <p>Posted On <span>{{blog.created_at | date:'mediumDate'}}</span></p>
          <p>{{ (blog.description.length>80) ? (blog.description | slice:0:80)+ '...':(blog.description)}}</p>
          <a [routerLink]="['/blog',blog.id]" class="btn btn-danger">Read more...</a>
        </div>
      </div>
     
    </div>
  </div>
</section>
