<!-- <div class="row">
  <div class="col-sm-12">
    <div >
      <table class="table table-bordered table-striped table-responsive">
        <tr>
          <th>#ID</th>
          <th>Name</th>
          <th>Actions</th>
         
        </tr>
        <tr *ngFor="let cat of category">
            <td>{{cat.id}}</td>
            <td>{{cat.name}}</td>
            <td>
              <button class="btn btn-success btn-sm">Edit</button>&nbsp;
              <button class="btn btn-danger btn-sm">Delete</button>
            </td>
           
          </tr>
      </table>
       
    </div>
  </div>
</div> -->



<div class="dash-header">
  <div class="dash-title">
      <h1>Category Lists</h1>
  </div>
  <div class="dash-nav">
      <a [routerLink]="['/admin/feedback/create']" class="btn btn-success">Add Category</a>
  </div>
</div>
<table class="table table-bordered table-striped table-responsive">
  <tr>
      <th>#ID</th>
      <th>Name</th>
      <th>Action</th>
  </tr>
  <tr *ngFor="let category of category; let index=index">
      <td>{{index+1}}</td>
      <td>{{category.categoryName}}</td>
      <td class="action">
          <a  [routerLink]="['/admin/feedback/edit', category.catId]" class="btn btn-info btn-sm">Edit</a>&nbsp;
          <a (click)="onDelete(category.catId)" class="btn btn-danger btn-sm">Delete</a>
      </td>
  </tr>
</table>
{{error}}
