<div class="class row text-center dashboard">
  <div class="col-sm-3">
    <div class="dash-div">
      <h6>Blogs Available</h6>
      <h6>{{Blogs.length}}</h6>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="dash-div">
      <h6>Featured Blogs</h6>
      <h6>4</h6>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="dash-div">
      <h6> Feedback Received</h6>
      <h6>{{feedbacks.length}}</h6>
    </div>
  </div>
  <div class="col-sm-3">
      <div class="dash-div">
        <h6> Activeted Blogs</h6>
        <h6>{{activeBlogs.length}}</h6>
      </div>
    </div>
</div>
<div class="class row text-center dashboard">
    <div class="col-sm-4">
      <div class="dash-div">
        <h6>Total Blogs</h6>
        <h6>{{Blogs.length}}</h6>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="dash-div">
        <h6>Total Featured Blogs</h6>
        <h6>4</h6>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="dash-div">
        <h6>Total Activeted Blogs</h6>
        <h6>{{feedbacks.length}}</h6>
      </div>
    </div>
  </div>